.nproject {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 1rem;
  color: rgb(20, 173, 40);
  margin-top: 10px;
}

.titletWeb {
  font-family: "Code Pro", sans-serif;
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: center;
  color: #0c0a5c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding-top: 5px;
}

.titletWeb > p#van {
  display: inline;
  color: green;
}

.titletWeb > p#dat {
  display: inline;
  color: rgb(202, 129, 33);
}
